/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */
@import '~bootstrap/scss/bootstrap';
@import "../../scss/variables";
@import '~@fortawesome/fontawesome-free/css/all.css';


.testimonial-card {
	background-color: $bg-light;
	border-radius: 10px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	padding: 20px;

}

.h5 {
	color: $primary-teal;
}
