
$text-color: #333; // Dark gray
$bg-light: #F0F6F6; // Light teal
$bg-gray: #C7E7E7; // Lighter teal
$primary-blue: #0077B6; // Dark teal blue
$primary-teal: #119DA4; // Teal
//$star-color: #FFD700; // Gold
